
.aside{
    width: 45%;
    height: 45%;
  
}

.tabela-destaque {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 2%;
    
    
}

.tabela-destaque h1{
    padding: 10px 0;
    background-color: rgb(0, 163, 95);
    
}

.campeonato-destaque{
    border-collapse: collapse; 
    width: 100%;
    height: 100%;
    
}

.campeonato-destaque img{
    height: 28px;
    width: 28px;
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    
  }

td, th {
    border: 1px solid #f3efef;
 
  }  

.campeonato-destaque .posicao{
    text-align: start;
}

.campeonato-destaque .posicao-num{
    font-size: 16px;
    padding-right: 5px;
    color: grey;
}

.faixa-classificacao__grupo {
    flex-wrap: nowrap;
    white-space: nowrap;
}
.faixa-classificacao__label {
    margin-right: 10px;
}
.faixa-classificacao__label {
    line-height: 18px;
    margin-right: 20px;
    text-transform: lowercase;
}



.faixa-classificacao__label--icone {
    height: 9px;
    margin-left: 0;
    margin-right: 1px;
    width: 9px;
}

.classificacao__icone {
    background-size: 17px 50px;
    background: url(https://s.glbimg.com/es/ge/static/live/widget_classificacao_responsivo/img/sprite-tabela-icones.svg?5dfb76dc3509) no-repeat left 1px;
    display: inline-block;
    height: 10px;
    background-position-y: 2px;
    margin-left: 6px;
    overflow: hidden;
    width: 8px;
}

.faixa-classificacao__agrupador {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
